@font-face {
    font-family: 'digital-clock-font';
    src: url(Seven\ Segment.ttf);
  }
.body{
    margin: 0px;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 100vw;
    gap: 5vh;
    margin: 0px;
    background-color: #3c463f98;
    align-items: center;
    padding-top: 5vh;
}

.header{ 
    height: 5vh;
    width: 15vw;
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;   
}

.calcBase{
    margin: 0px;
    background-color: #CFCFCF;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    max-height: 250px;
    min-height: 150px;
    max-width: 300px;
    min-width: 200px;
    padding: 5vh;
    justify-self: center;
    border-radius: 3%;
    box-shadow: 10px 10px #4d505786;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;  
    align-content: center;
    row-gap: 2vh;
}
.screenDiv{
    border-width: 5px;
    border-style:inset;
    border-color: rgb(85, 84, 88);
    min-height: 25px;
    min-width: 150px;
    max-width: 250px;
    background-color: #000000;
    font-family: 'digital-clock-font', sans-serif;
    color: #cd61e5;
    text-align: center;
    padding: 2%;
    font-size: larger;    
    letter-spacing: 2px;
    margin: 0px;
}
.buttonDiv{
    display: grid;
    grid-template-columns:  repeat(3,minmax(20px, 30px)) 2fr 2fr ;
    grid-template-rows: 20px 20px minmax(20px, auto);
    grid-row: auto;
    row-gap: 5px;
    column-gap: 5px;
}
.buttons{
    background-color: #4d505786;
    border-width: 2px;
    border-style: solid;
    border-color: #3c463f98;
    border-radius: 50%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.buttons:hover{
    background-color: darkslategray;
    color: antiquewhite;
}
.longerButton{
    background-color: #4d505786;
    border-width: 2px;
    border-style: solid;  
    border-radius: 0%;
}   
.longerButton:hover{
    background-color: #1F51FF;
}
.opButtons{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.topButtons{
    font-size: small;
    font-family: sans-serif;
}
.onOrAff{
    margin: 0px;
    background-color: #5D865F;
    min-height: 5px;
    width: 100px
}
.onButton:hover{
    background-color: #39FF14;
    color: #000000;
}
.offButton:hover{
    background-color: #FF5F1F;
    color:#000000;
}
.piButton:hover{
    background-color: #314159;
    color: #fb48a1;
    font-weight: bolder;
}
.clearButton:hover{
    background-color: #FF3131;
}
.buttons:active{
    background-color: #6d6eae70;
    transform: translateY(2px);
    color: #000000;
    box-shadow: 5px 5px 5px #000000;
}
.onButton:active{
    background-color: #37ff1470;
    transform: translateY(2px);
    color: #000000;
    box-shadow: 5px 5px 5px #314159;
}
.offButton:active{
    background-color: #ff5f1f82;
    transform: translateY(2px);
    color: #000000;
    box-shadow: 5px 5px 5px #314159;
}
.clearButton:active{
    background-color: #ff313181;
    transform: translateY(2px);
    color: #000000;
    box-shadow: 5px 5px 5px #314159;
}
.opButtons:active{
    background-color: #f0e00153;
    transform: translateY(2px);
    color: #000000;
    box-shadow: 5px 5px 5px #314159;
}